.wrapper {
  color: #5A1094;
  background-color: #E6E9F0;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Helvetica Neue';
}

._container {
  margin: 0 auto;
  max-width: 68%;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main__products {
  max-height: 800px;
  padding: 24px 14px 10px 14px;
  grid-area: things;
  background: #E6E9F0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
}

@media (max-width: 700px) {
  .main__products {
    height: auto;
  }
}

.main__products::-webkit-scrollbar {
  width: 10px;
}

.main__products::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.main__products::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6fb), to(#005bea));
  background: -webkit-linear-gradient(top, #00c6fb, #005bea);
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__text_title {
  font-size: 16px;
  line-height: 112%;
  color: #5A1094;
}

.products__text_edit {
  font-size: 12px;
  line-height: 117%;
  color: #979797;
  text-decoration: underline;
  cursor: pointer;
}

.products__product {
  margin-top: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 1fr auto;
      grid-template-columns: 45px 1fr auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img cont price";
  -webkit-column-gap: 10px;
          column-gap: 10px;
  position: relative;
}

.products__product::after {
  content: "";
  position: absolute;
  top: 100%;
  mix-blend-mode: normal;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  background-color: #979797;
}

.products__cost {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 23px;
}

.products__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  font-size: 10px;
  line-height: 120%;
  color: #9C9C9C;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.product__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cont;
  -ms-grid-rows: auto 1fr 50px;
      grid-template-rows: auto 1fr 50px;
}

.product__content_name {
  font-size: 12px;
  line-height: 92%;
  color: #777879;
}

.product__content_description {
  margin-top: 7px;
  font-size: 10px;
  line-height: 120%;
  color: #2B2525;
}

.product__content_quantity {
  margin-top: 1px;
  color: #2B2525;
  font-size: 10px;
  line-height: 120%;
}

.product__price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
  font-size: 12px;
  line-height: 92%;
  text-align: right;
  color: #777879;
}

.cost__subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 92%;
  text-align: right;
  color: #777879;
}

.cost__shipping {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 92%;
  text-align: right;
  color: #777879;
}

.cost__taxes {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 12px;
  line-height: 92%;
  text-align: right;
  color: #777879;
}

.cost__taxes::after {
  content: "";
  position: absolute;
  mix-blend-mode: normal;
  top: 150%;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  background-color: #979797;
}

.cost__total {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 108%;
  color: #431C5D;
}
