.wrapper {
	color: #5A1094;
	background-color: #E6E9F0;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica Neue';
}

._container {
	margin: 0 auto;
	max-width: 68%;
	padding: 0 10px;
	box-sizing: content-box;

	@media(max-width: 700px) {
		margin: 0 auto;
		max-width: 100%;
		padding: 0 10px;
		box-sizing: content-box;
	}
}


