.wrapper {
	color: #5A1094;
	background-color: #E6E9F0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

._container {
	margin: 0 auto;
	max-width: 68%;
	padding: 0 10px;
	box-sizing: content-box;

	@media(max-width: 700px) {
		margin: 0 auto;
		max-width: 100%;
		padding: 0 10px;
		box-sizing: content-box;
	}
}


